<div class="container">
    <h3 mat-dialog-title>Add new Issue</h3>

    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" >
        <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <!--Textarea for demo purposes-->
        <div class="form">
            <mat-form-field color="accent">
            <textarea matInput #input class="form-control" placeholder="Title" [(ngModel)]="data.title"  name="title" required ></textarea>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    
        <!--Contains mat-hint for characters count and has maxLengt set-->
        <div class="form">
            <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="State"  [(ngModel)]="data.state" name="state"  required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    
        <div class="form">
            <mat-form-field color="accent">
            <input matInput #input placeholder="Url"  [(ngModel)]="data.url" name="url">
            </mat-form-field>
        </div>
        
        <div mat-dialog-actions>
            <button mat-raised-button [type]="submit"  [mat-dialog-close]="1" [disabled]="!formControl.valid" (click)="confirmAdd()" color="primary">Save</button>
            <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
    </form>
</div>
