<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/form']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Form' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/issues']">
            <mat-icon class="sidenav-icon">report</mat-icon> {{ 'Issues' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/projects']">
            <mat-icon class="sidenav-icon">view_module</mat-icon> {{ 'Projects' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/unit-work']">
            <mat-icon class="sidenav-icon">assignment_turned_in</mat-icon> {{ 'Unit Work' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/pizza-order']">
            <mat-icon class="sidenav-icon">perm_scan_wifi</mat-icon> {{ 'Projects' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/rest-data']">
            <mat-icon class="sidenav-icon">account_box</mat-icon> {{ 'Rest Data' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/pizza-app']">
            <mat-icon class="sidenav-icon">card_travel</mat-icon> {{ 'Pizza App' }}
        </a>
    </mat-nav-list>
</div>


